* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 880px;
  margin: 0 auto;
}

#nav-tab {
  list-style: none;
}

#nav-tab li {
  display: inline-flex;
}

#nav-tab li a {
  text-decoration: none;
  color: #95a5a6;
  padding: 10px;
  border-bottom: 1px solid transparent;
}

#nav-tab li a:hover {
  color: #e74c3c;
}

#nav-tab .active a {
  color: #e74c3c;
}
